
<div class="card">
    <div class="card-header">
        <h2>Listado de Productos</h2>
    </div>
    <div class="card-body">
        <div id="productList" class="row"> <!-- Contenedor para las tarjetas de productos -->
            {{#each products}}
                <div class="col-md-4"> <!-- Cada producto en una columna -->
                    <div class="card mb-3"> <!-- Tarjeta para cada producto -->
                        <div class="card-body">
                            <p class="card-text">id: {{this.id}}</p>
                            <p class="card-text">title: {{this.title}}</p>
                            <p class="card-text">descripcion: {{this.description}}</p>
                            <p class="card-text">code: {{this.code}}</p>
                            <p class="card-text">price: {{this.price}}</p>
                            <p class="card-text">status: {{this.status}}</p>
                            <p class="card-text">category: {{this.category}}</p>
                            <p class="card-text">thumbnails: {{this.thumbnails}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>